In [1]:
import pandas as pd

In [22]:
df_main = pd.read_csv('Downloads/rocket10/main_dataset.csv')

In [23]:
df_main.head()

,Source_ID,Impressions,Clicks,Installs,add_to_cart,first_purchase,purchase_total,purchase_sales
0,source1,2.0,0.0,0,0,0,0,0.000000e+00
1,source10,0.0,1138.0,86,31,5,3,7.355000e+03
2,source11,0.0,0.0,660488,252178,51896,279905,8.805485e+08
3,source12,0.0,7.0,1618,369,77,108,3.114025e+05
4,source13,0.0,136.0,4,2,1,1,6.050000e+02

In [24]:
df_main.dtypes

Source_ID          object
Impressions       float64
Clicks            float64
Installs            int64
add_to_cart         int64
first_purchase      int64
purchase_total      int64
purchase_sales    float64
dtype: object

In [25]:
df_main.shape

(97, 8)

In [26]:
df_main.Source_ID.unique()

array(['source1', 'source10', 'source11', 'source12', 'source13',
       'source14', 'source15', 'source16', 'source17', 'source18',
       'source19', 'source2', 'source20', 'source21', 'source22',
       'source23', 'source24', 'source25', 'source26', 'source27',
       'source28', 'source29', 'source3', 'source30', 'source31',
       'source32', 'source33', 'source34', 'source35', 'source36',
       'source37', 'source38', 'source39', 'source4', 'source40',
       'source41', 'source42', 'source43', 'source44', 'source45',
       'source46', 'source47', 'source48', 'source49', 'source5',
       'source50', 'source51', 'source52', 'source53', 'source54',
       'source55', 'source56', 'source57', 'source58', 'source59',
       'source6', 'source60', 'source61', 'source62', 'source63',
       'source64', 'source65', 'source66', 'source67', 'source68',
       'source69', 'source7', 'source70', 'source71', 'source72',
       'source73', 'source74', 'source75', 'source76', 'source77',
       'source78', 'source79', 'source8', 'source80', 'source81',
       'source82', 'source83', 'source84', 'source85', 'source86',
       'source87', 'source88', 'source89', 'source9', 'source90',
       'source91', 'source92', 'source93', 'source94', 'source95',
       'source96', 'source97'], dtype=object)

In [27]:
#Открыть файл main_dataset.csv, проверить на наличие пропущенных значений
df_main.isna().sum()

Source_ID         0
Impressions       0
Clicks            0
Installs          0
add_to_cart       0
first_purchase    0
purchase_total    0
purchase_sales    0
dtype: int64

In [28]:
df_main.isnull().sum()

Source_ID         0
Impressions       0
Clicks            0
Installs          0
add_to_cart       0
first_purchase    0
purchase_total    0
purchase_sales    0
dtype: int64

In [69]:
# Задание 1.nan и нулей не обнаружено

In [ ]:
#Создать и вывести список (class 'list') источников, для которых соблюдены следующие условия: 
#более 1000 установок (Installs) и средний чек выше 3000 рублей

In [31]:
df_main['aov'] = df_main.purchase_sales / df_main.purchase_total

In [70]:
df_main.query('Installs > 1000 & aov > 3000').Source_ID.to_list()
#Задание 2

['source11',
 'source2',
 'source25',
 'source38',
 'source39',
 'source42',
 'source68',
 'source93']

In [68]:
#Вывести топ-5 источников с самой высокой конверсией из установки (Installs) в первую покупку (first_purchase)
df_main['cr1'] = df_main.first_purchase / df_main.Installs
df_main_1 = df_main.sort_values('cr1', ascending=False).head(5)

In [71]:
df_main_1
#Задание 3

,Source_ID,Impressions,Clicks,Installs,add_to_cart,first_purchase,purchase_total,purchase_sales,aov,cr1
30,source37,0.0,129.0,11,8,3,1,4784.0,4784.000000,0.272727
4,source13,0.0,136.0,4,2,1,1,605.0,605.000000,0.250000
38,source44,0.0,0.0,6,2,1,1,1159.0,1159.000000,0.166667
31,source38,480737.0,273434.0,59466,34801,9409,27155,86639356.5,3190.548941,0.158225
74,source77,857397.0,2862.0,95,46,13,37,80935.0,2187.432432,0.136842

In [43]:
df_ret = pd.read_csv('Downloads/rocket10/retention_dataset.csv')

In [44]:
df_ret.head()

  Source_ID  Install Day  Day 1  Day 3  Day 7  Day 30
0  source10           86     16     10      5       5
1  source12         1618    341    146     91      47
2  source14          830    193    103     71      33
3   source2         3288    614    324    213     117
4  source20           21      8      1      3       1

In [ ]:
#Открыть файл retention_dataset.csv и рассчитать долю (%) пользователей, вернувшихся на 3ий день

In [48]:
df_ret.Source_ID.nunique()

44

In [54]:
df_ret.isna().sum()

Source_ID         0
Install_Day       0
Day1              0
Day3              0
Day7              0
Day30             0
Day3_retention    0
dtype: int64

In [50]:
df_ret = df_ret.rename(columns={'Day 1':'Day1','Day 3':'Day3','Day 7':'Day7','Day 30':'Day30','Install Day':'Install_Day'})

In [74]:
df_ret['Day3_retention'] = df_ret.Day3 / df_ret.Install_Day
df_ret['Day30_retention'] = df_ret.Day30 / df_ret.Install_Day

In [75]:
# Вопрос 1
df_ret.head()

,Source_ID,Install_Day,Day1,Day3,Day7,Day30,Day3_retention,Day30_retention
0,source10,86,16,10,5,5,0.116279,0.058140
1,source12,1618,341,146,91,47,0.090235,0.029048
2,source14,830,193,103,71,33,0.124096,0.039759
3,source2,3288,614,324,213,117,0.098540,0.035584
4,source20,21,8,1,3,1,0.047619,0.047619

In [61]:
quant  = df_ret.Day30_retention.quantile(0.75)

In [72]:
df_ret_1 = df_ret[df_ret.Day3_retention > quant]
#Вопрос 2

In [73]:
df_main_1.merge(df_ret_1, how='inner', right_on='Source_ID', left_on='Source_ID')

,Source_ID,Impressions,Clicks,Installs,add_to_cart,first_purchase,purchase_total,purchase_sales,aov,cr1,Install_Day,Day1,Day3,Day7,Day30,Day3_retention
0,source37,0.0,129.0,11,8,3,1,4784.0,4784.000000,0.272727,11,2,3,1,0,0.272727
1,source38,480737.0,273434.0,59466,34801,9409,27155,86639356.5,3190.548941,0.158225,59465,20791,11975,8210,3902,0.201379
2,source77,857397.0,2862.0,95,46,13,37,80935.0,2187.432432,0.136842,95,25,15,14,2,0.157895